.col-md-12.page-body
  .row
    .sub-title
      %h2 Create Post
    .col-md-12.content-page
      .col-md-8.col-md-offset-2
        = form_for [:user, @post], html: { class: 'col-9' } do |f|
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control', required: true, maxlength: 240
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control', required: true, maxlength: 500
          .form-group
            = f.label :content
            = f.text_area :content, class: 'form-control', required: true, maxlength: 2000
          .form-group
            = f.label :photo
            = f.file_field :photo, class: 'form-control', accept: 'image/*'
          .form-group
            = label_tag :auth_method
            = select_tag :auth_method, options_for_select({'Authy App': 'authy_app', 'SMS': 'sms'}),{class: 'form-control'}
          .form-group
            = f.label :publish_date
            = f.text_field :publish_date, class: 'form-control', id: 'flatpickr'
          .form-group
            = f.submit 'Submit',class: 'btn btn-primary'

:javascript
  $(document).ready(function () {
    flatpickr($('#flatpickr'), {
      enableTime: true
    });
  })


