.col-md-12.blog-post{style: 'border-bottom: 1px dashed #dedede; margin-top: 12px'}
  - if post.photo.attached?
    .post-image
      = image_tag post.photo.variant(resize: "810x326")
      -#%img{:alt => "", :src => post.photo.preview(resize_to_limit: [100, 100])}/
  .post-title
    %a{:href => post_path(post)}
      %h1= post.title

  .post-info
    %span
      = post.created_at.strftime('%B %e, %Y')
      by
      = post.user.username
      - if current_page?(user_posts_path)
        = "- status: #{post.state.humanize}"

  %p= post.description

  %a.button.button-style.button-anim.fa.fa-long-arrow-right{:href => post_path(post)}
    %span Read More