= render 'shared/nav'
.d-flex.align-items-center.flex-column.mt-5
  %h2.mb-4#title Create Post
  = render template: 'shared/alert'

  = form_for @post, html: { class: 'col-9' } do |f|
    #step1
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', required: true, maxlength: 240
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control', required: true, maxlength: 500
      .form-group
        = f.label :content
        = f.text_area :content, class: 'form-control', required: true, maxlength: 2000
      .form-group
        = f.label :publish_date
        = f.text_field :publish_date, class: 'form-control', id: 'flatpickr'
      .form-group
        = f.submit 'Submit',class: 'btn btn-primary'

:javascript
  flatpickr($('#flatpickr'), {
    enableTime: true
  });