!!!
%html
  %head
    %title Mr.Draper
    -#= csrf_meta_tags
    -#= csp_meta_tag
    %meta{name:"viewport",content:"width=device-width, initial-scale:1.0"}
    %link{ href: 'https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700', rel: 'stylesheet' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #main
      .container
        .row
          = render 'shared/nav'
          .col-md-9
            = yield
            .col-md-12.page-body.margin-top-50.footer
              %footer
                %ul.menu-link
                  %li
                    %a{:href => root_path} Home
                  %li
                    %a{:href => user_posts_path} My Posts
                %p © Copyright 2016 DevBlog. All rights reserved
                .uipasta-credit
                  Design By
                  %a{:href => "http://www.uipasta.com", :target => "_blank"} UiPasta
    %a.scroll-to-top{:href => "#"}
      %i.fa.fa-long-arrow-up

    = javascript_include_tag 'vendors/plugin'
    = javascript_include_tag 'vendors/scripts'

